@model OrderDetailModalDTO

<div class="modal fade" id="modal-@Model.DivId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; justify-content: center">
        <div class="modal-content" style="width:150%">
            <div class="modal-header">
                <h5 class="modal-title w-100%" id="exampleModalLabel">Детали заказа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Книга</th>
                        <th>Жанр</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Итог</th>
                    </tr>
                    @foreach (var item in Model.OrderDetail)
                    {
                        <tr>
                            <td>@item.Book.BookName</td>
                            <td>@item.Book.Genre.GenreName</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity * item.UnitPrice)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>